@import '../../styles/variables';

.loading-spinner-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-spinner {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba($theme-color, 0.3);
    border-radius: 50%;
    border-top-color: $theme-color;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;

    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}

.photo-album {
  // display: none;
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: start;
  min-height: 1000px;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2vw;
  }

  &.col-2 {
    padding: 0 1vw;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &.all-loaded {
    display: grid;
  }

  .photo-column {
    position: relative;
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: minmax(0, 1fr);
    // min-height: 1000px;

    @media screen and (max-width: 767px) {
      grid-gap: 2vw;
    }
  }
}

.scroll-to-top-button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: $theme-color;
  z-index: 10;

  &:hover {
    cursor: pointer;
    background-color: darken($theme-color, 5%);
  }

  img {
    width: 30px;
  }
}

// .infinite-scroll-component {
//   overflow: hidden !important;
// }
