@import '../../styles/variables';

.page.contact {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo-container {
    margin-bottom: 1rem;
  }

  .email-insta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
      font-size: 1.6rem;
      text-decoration: none;
      color: #000;

      &:hover {
        color: $theme-color;
      }
    }

    .instagram {
      margin: 0 25px 0 50px;
    }
  }
}
